.conteneur{
  border: 2px solid silver;
  width: 800px;
  height: 400px;
  position: static;
}
.green{
  border: 2px solid rgb(46, 204, 113);
  width: 80%;
  height: 15%;
  display: block;
}
.bleuciel{
  border: 2px solid rgb(41, 128, 185);
  width: 20%;
  height: 15%;
  float: right;
}
.rouge{
  border: 2px solid rgb(231, 76, 50);
  width: 30%;
  height: 40%;
}
.bleumarrine{
  border: 2px solid rgb(44, 62, 80);
  width: 100%;
  height: 42%;
}
